@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');


/* ***** Nav styles ******  */
header.scroll {
  background-color: #202020;
  color: #FFFFFF
}


nav {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}


/* ***** Footer styles ****** */

footer {
  background-color: #202020;
  color: #CDCDCD;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

}

footer h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 67px;
  color: #FFFFFF;
}

footer a {
  color: #CDCDCD;
}