/*basic css reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}

/*main container holding page*/
section.hero_section{
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/hero.jpg');background-position: top;
    background-repeat: no-repeat;
    height: 70vh;
    overflow: hidden;
    object-fit: fill;
    background-attachment: fixed; 
}
p.hero_header{
    font-size: 1.85rem;
    text-align: center ;
}
div.hero_btn-holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
button.hero_btn-portfolio,
button.hero_btn-hire,
button.btn_cv{
    border-radius: 1.5rem;
    outline: none !important;
    font-size:0.75rem ;
}
button.hero_btn-portfolio:hover{
    color: #fff;
    background-color: transparent !important;
    border: 2px solid #fff !important;    
}
button.hero_btn-hire{
    background-color: transparent !important;
    border: 2px solid #fff;
}
button.hero_btn-hire:hover{
    background-color: #fff !important;
    color: #000 !important;
}

/*MEDIA QUERIES */

/*for tablet*/
@media (orientation :landscape), (min-width:768px ){
  section.hero_section{
    height: 75vh;
    overflow: hidden;
    position :relative ;
  }
  header.main_header{
    position :absolute ;
    top :5% !important;
    position:absolute;
    margin: 0 auto !important ;
    min-width: 80%!important ;
  }
  abo{
      padding-bottom: -50rem !important;
  }
  section.m-about{
      display:none;
  }
  section.about{
      position: absolute;
      top:90%;
      width: 70%;
      left:50%;
      margin-left: -35%;
      background: #fff;
      height: auto;
      z-index: 20;
  }
  div.left_about{
      height: 4.2rem;
      background: #e5e5e5;
      width: 100%;
  }
  div.left_about > p{
      width: 100%;
      height: 100%;
  }
  section.m-projects{
      display: none;
  }
}