*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}


/*---------------------------------------Back to top----------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    background: #FF7A00;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}
  
.back-to-top i {
    padding-top: 12px;
    color: #fff;
}
  



/*----------------------------------------Navigation Bar--------------------------------------------*/
.def-navbar {
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.2);
}
.def-navbar .navbar-nav li{
    margin: 0 2rem 0 0;
}
.def-header{
    font-family: Lato;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}
.js-scroll {
    color: #fff;
    font-family: Lato;
    font-weight: bold;
    line-height: 19px;
}
.js-scroll:hover {
    color: #fff;
}
.js-scroll:focus {
    color: #FF7A00;
}
.active{
    color: #FF7A00;
}

.navbar-toggler {
    position: relative;
}
  
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}  

.navbar-toggler span {
    display: block;
    background-color: #FF7A00;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}
  
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}




/*-----------------------------------------Intro Jumbo---------------------------------------*/

.intro-bckg {
    background: #000;
    overflow-y: hidden;
    margin: 0;
}
.intro-img{
    width: 585px;
    height: 680px;
    margin-bottom: 1rem;
}
.intro-body{
    padding-top: 14rem;
    padding-left: 1rem;
}
.intro-text{
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.intro-text h3 {
    font-family: Lato;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: .03rem;
}
.intro-text p{
    font-family: 'Raleway', sans-serif;
}
.def-btn{
    background: #FF7A00;
    border-radius: 50px;
    width: 194px;
    height: 61px;
    border: .01rem solid transparent;
    color: white;
    font-family: Lato;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: .03rem;
    text-align: center;
    align-items: center;
    display: flex ;
    justify-content: center;
    transition: all .8s ease-in-out;
}
.def-btn:hover{
    font-weight: bold;
    color: whitesmoke;
    box-shadow: 1px 1px 3px #fff;
}






/*------------------------------------------------About Us----------------------------------------*/
#about{
    padding: 1rem 0 6rem 0;
    margin-right: 0;
    margin-left: 0;
}
.about-para p{
    font-family: Raleway;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.orange-box{
    position: absolute;
    width: 426px;
    height: 500px;
    left: -39px;
    bottom: 39px;
    background: #FF7A00;
    z-index: -1;
}
.about-img{
    width: 426.25px;
    height: 500px;
    z-index: 999;
}
.progress {
    width: 90px;
    height: 90px;
    background: none;
    position: relative;
}
  
.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #444;
    position: absolute;
    top: 0;
    left: 0;
}
  
.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
  
.progress .progress-left {
    left: 0;
}
  
.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
  
.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
  
.progress .progress-right {
    right: 0;
}
  
.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
  
.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: Lato;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.05em;
}
.border-gold {
      border-color: #FF7A00;
}
.progress-wrapper {
    position: absolute;
    bottom: -27rem;
    right: 5rem;
    font-family: Lato;
}
.push{
    /* margin: 0 0 0 4.5rem; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.push-btn{
    /* margin: 0 0 0 12rem; */
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
.push .progress-value {
    margin-right: 3rem;
}
.push4{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}




/*------------------------------------------- My Services-----------------------------------*/
#service{
    background:  #212121;
    padding: 4rem 0 3rem 0;
    margin-left: 0;
    margin-right: 0;
}
.service-box {
    justify-content: center;
    align-items: center;
    height: 240px;
    background: #000000;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 2rem;
    padding: 0 .5rem;
}
.service-box h4 {
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 1rem;
}
.service-box p {
    font-family: Raleway;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}
.section-header h3{
    font-family: Lato;
    font-weight: bolder;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.section-line {
    height: .3rem;
    background: #FF7A00;
    width: 212px;
    margin: 0 0 3rem 2.4rem;
}



/*--------------------------------------Our Works----------------------------------------*/
#works {
    padding: 4rem 0 3rem 0;
    margin-left: 0;
    margin-right: 0;
}
.works-img{
    background-size: contain;
    box-shadow: 0px 6px 45px rgba(0, 0, 0, 0.25);
    height: 327px;
    width:100%;
    margin-bottom: 2rem;
}



/*----------------------------------------Contact Me------------------------------------*/
#contact{
    background:  #212121;
    padding: 4rem 0 3rem 0;
}
.contact-link {
    font-family: Raleway;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    transition: .5s;
}
.contact-link:hover{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.contact-form {
    border-radius: 0;
    margin-bottom: 2rem;
    height: 3.5rem;
    color: #aaa;
}
.text-light{
    color: #aaa;
}
.contact-form:focus{
    box-shadow: none;
}


/*-----------------------------------------Footer----------------------------------------------*/
#footer{
    background: #000;
    margin-bottom: 0;
    padding: 1rem 0 .3rem 0;
}
#footer p{
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
}



  /*------------------------------------- Media Queries ---------------------------------*/
@media(max-width: 1440px){
    .progress-wrapper {
        position: absolute;
        top: 65rem;
        right: 5rem;
    }    
}
@media(max-width: 1280px){
    .progress-wrapper {
        position: absolute;
        top: 65rem;
        right: 5rem;
    }    
}
@media(max-width: 1024px){
    .progress-wrapper {
        position: absolute;
        bottom: -5rem;
        right: 5rem;
    }    
}
@media(max-width: 1100px){
    .intro-text{
        left: 2rem;
    }
}
@media(max-width: 992px){
    .intro-text{
        margin-top: 7rem;
    }
    .progress {
        width: 66px;
        height: 66px;
        background: none;
        position: relative;
    }    
    .progress .progress-value {
        font-size: 18px;
    }
}
@media(max-width : 768px) {
    .progress-wrapper {
        position: absolute;
        top: 68rem;
        right: 5rem;
        font-family: Lato;
    }        
}
@media(max-width : 767px) {
    .def-navbar .navbar-nav li{
        margin: 2rem auto 1rem auto;
    }
    .def-navbar {
        backdrop-filter: blur(8px);
        background: rgba(0, 0, 0, 0.5);
        /* padding-bottom: 15rem; */
    }
    .def-navbar .navbar-nav li:last-child{
        margin-bottom: 17rem;
    }
    .progress-wrapper {
        position: initial ;
        margin-top: 3rem;
    }
    .def-btn{
        width: 143px;
        font-size: 12px;
    }
    .intro-text h3 {
        font-family: Lato;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: .03rem;
    }
    .orange-box{
        position: absolute;
        width: 220.52px;
        height: 250.41px;
        left: -20px;
        bottom: 68px;
    }
    .about-img{
        width: 220.52px;
        height: 250.41px;
    }
    
    
}
@media(max-width : 517px) {
    .intro-body{
        padding-top: 5rem;
        padding-left: 1rem;
    }    
    .intro-img{
        width: 585px;
        height: 500px;
        margin-bottom: 1rem;
    }    
    .intro-text p {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.05em;
    }
    .def-btn{
        height: 39px;
    }
    .about-para p{
        font-size: 12px;
        line-height: 14px;
    }
    .orange-box{
        position: absolute;
        width: 165.52px;
        height: 226.41px;
        left: -39px;
        bottom: 39px;
    }
    .about-img{
        width: 165.52px;
        height: 226.41px;
    }
    .progress .progress-value {
        font-size: 20px;
        line-height:24px;
    }
    .progress p{
        font-size: 16px;
        line-height: 19px;
    }    
    .section-header h3{
        font-size: 30px;
        line-height: 36px;
    }
    .section-line {
        width: 169px;
    }
    
        
}